.block-info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-right: 30px;

  @media (width >=768px) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__title {
    font-size: 65px;
    letter-spacing: -0.0615em;
    color: $black--900;
  }

  &__text {
    font-size: 18px;
    color: rgba($black--400, 0.8);
  }

  &__btn {
    margin-top: 24px;
  }
}
