.burger-btn {
  position: relative;
  width: 24px;
  aspect-ratio: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color $animation-duration ease;

  &__item {
    display: block;
    width: 16px;
    height: 2px;
    background-color: $black--900;
    border-radius: 2px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $black--900;
      border-radius: 2px;
      top: 6px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $black--900;
      border-radius: 2px;
      bottom: 6px;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba($black--900, 0.07);
    }
  }

  &:active {
    background-color: $soft-red;
  }

  @media (width >= 1024px) {
    display: none;
  }
}
