.card {
  display: block;
  width: 100%;
  border-radius: 40px;
  // background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px;
  min-height: 189px;
  container-type: inline-size;
  transition-property: filter;
  transition-duration: $animation-duration;
  transition-timing-function: linear;

  @media (width >= 768px) {
    padding: 30px;
    min-height: 380px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 229px;

    @media (width >= 768px) {
      max-width: 328px;
    }
  }

  &__title {
    font-size: 56px;
    color: $light;

    @media (width >= 768px) {
      font-size: 90px;
      line-height: 0.8333;
      letter-spacing: -0.089em;
    }

    &--small {
      font-size: clamp(32px, 11.3636cqw, 40px);
      letter-spacing: -0.075em;
    }

    &--dark {
      color: $black--400;
      max-width: 138px;
    }
  }

  &__text {
    @extend .main-text--large;
    color: rgba($light, 0.8);
  }

  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    column-gap: 10px;
  }

  &--main {
    min-height: 656px;

    @media (width >= 768px) {
      padding: 60px;
    }
  }
}
