.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: rgba($black--400, 0.2);
  color: $light;
  transition: background-color $animation-duration ease;

  &--small {
    width: 33px;
  }
}
