.form {
  $root: &;
  position: relative;

  &__input {
    padding: 8px 20px;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    outline: none;
    transition: border-color $animation-duration ease;

    &:focus {
      border-color: $black--400;

      &::placeholder {
        color: rgba($black--900, 0.4);
        transition: color $animation-duration ease;
      }

      ~ #{$root}__button-search {
        color: rgba($black--900, 0.4);
      }
    }

    @media (width >= 1024px) {
      min-width: 260px;
      padding-right: 40px;
    }

    @media (width >= 1440px) {
      min-width: 312px;
    }
  }

  &__button-search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    color: $soft-blue;
    border: none;
    padding: 0;
    transition: color $animation-duration ease;
    cursor: pointer;
  }
}
