$icon-sizes: 20, 21, 24, 32, 50;

.icon {
  display: inline-block;
  aspect-ratio: 1;

  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }
}


.icon--32 {
  @media (width >= 768px) {
    width: 48px;
  }
}
