.logo {
  display: block;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.25;
  color: $black--900;
  text-transform: uppercase;
  transition: color $animation-duration linear;

  @media (hover: hover) {
    &:hover {
      color: $soft-blue;
    }
  }

  &--light {
    color: $light;

    @media (hover: hover) {
      &:hover {
        color: $soft-red;
      }
    }
  }
}
