.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid $black--400;
  padding: 13px 55px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7142;
  letter-spacing: 0.07em;
  color: $black--400;
  text-transform: uppercase;
  cursor: pointer;
  width: 240px;
  transition-property: color, background-color;
  transition-duration: $animation-duration;
  transition-timing-function: ease-out;

  @media (hover: hover) {
    &:hover {
      color: $light;
      background-color: $black--400;
    }
  }

  @media (width >= 768px) {
    width: 280px;
  }

  &--small {
    padding: 13px 26px;
    width: fit-content;
    min-width: 93px;
  }

  &--dark {
    background-color: $black--400;
    color: $light;

    @media (hover: hover) {
      &:hover {
        color: $black--400;
        background-color: transparent;
      }
    }
  }

  &--light {
    background-color: $light;
    color: $black--400;

    @media (hover: hover) {
      &:hover {
        background-color: $soft-red;
      }
    }
  }
}
