.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;

  &--active {
    visibility: visible;
    opacity: 1;
    background-color: rgba($soft-blue, 0.4);
    backdrop-filter: blur(2px);
  }

  @media (width >= 1024px) {
    opacity: 0;
    visibility: hidden;
  }
}
