.support-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 32px;

  @media (width >= 768px) {
    column-gap: 45px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: $light;
    background-color: $black--400;
    box-shadow: rgba($black--400, 0.4) 5px 5px,
                rgba($black--400, 0.3) 10px 10px,
                rgba($black--400, 0.2) 15px 15px,
                rgba($black--400, 0.1) 20px 20px,
                rgba($black--400, 0.05) 25px 25px;

    @media (width >= 768px) {
      width: 120px;
    }
  }

  &__icon {
    @media (width >= 768px) {
      width: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__title {
    font-size: clamp(24px, 2vw, 30px);
    font-weight: 500;
    line-height: 1.6666;
    letter-spacing: -0.0416em;
  }

  &__text {
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.625;
    letter-spacing: -0.01875em;
  }
}
