.from-blog {
  padding-bottom: 40px;

  @media (width >= 768px) {
    padding-bottom: 120px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.2666;
    letter-spacing: -0.0333em;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;

    @media (width >= 768px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;

    @media (width >= 768px) {
      border-radius: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 566px;
  }

  &__content-title {
    @extend .heading;
  }

  &__text {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: -0.0187em;

    @media (width >= 768px) {
      font-size: 18px;
      line-height: 1.4444;
    }
  }

  &__link {
    min-width: 170px;
    margin-top: 4px;
  }
}
