.service {
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (width >= 768px) {
      row-gap: 56px;
    }
  }

  &__title {
    @extend .heading;
    max-width: 558px;
  }
}
