.trending {
  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 32px;
    padding-bottom: 24px;
    border-top: 1px solid rgba($black--900, 0.05);

    @media (width >= 768px) {
      flex-direction: row;
      row-gap: 0;
      justify-content: space-between;
      align-items: center;
      column-gap: 40px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.2666;
    letter-spacing: -0.0333em;
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-right: -16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 16px;

    @media (width >= 768px) {
      column-gap: 10px;
    }
  }

  &__btn {
    color: rgba($black--400, 0.8);
    border-color: #ddd;

    &--active {
      background-color: $black--400;
      color: $light;
      pointer-events: none;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 16px;
    column-gap: 8px;
    grid-template-areas:
      "first second"
      "third third"
      "fourth fifth"
      "sixth sixth";
    padding-bottom: 40px;

    @media (hover: hover) {
      &:has(.product-card:hover) {
        .product-card:not(:hover) {
          filter: blur(1px);
          opacity: 0.8;
        }
      }
    }

    @media (width >= 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, min-content);
      row-gap: 20px;
      column-gap: 10px;
      grid-template-areas:
        "first second third third"
        "fourth fourth fifth sixth";
      padding-bottom: 32px;
    }
  }

  &__grid-first {
    grid-area: first;
  }

  &__grid-second {
    grid-area: second;
  }

  &__grid-third {
    grid-area: third;
  }

  &__grid-fourth {
    grid-area: fourth;
  }

  &__grid-fifth {
    grid-area: fifth;
  }

  &__grid-sixth {
    grid-area: sixth;
  }

  &__footer {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba($black--900, 0.05);
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (width >= 768px) {
      flex-direction: row;
      column-gap: 100px;
      align-items: center;
    }
  }

  &__footer-title {
    @extend .heading;
    max-width: 256px;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;

    @media (width >= 1024px) {
      justify-content: center;
      margin-right: 123px;
    }
  }

  &__colors-btn {
    padding: 8px 12px;
    column-gap: 12px;
    font-weight: 600;
    transition: box-shadow $animation-duration linear;

    @media (hover: hover) {
      &:hover {
        background-color: $grey--400;
      }
    }

    @media (width >= 768px) {
      font-size: 16px;
    }

    &--red {
      .circle {
        background-color: $soft-red;
      }
    }

    &--lime-green {
      .circle {
        background-color: #b8e25f;
      }
    }

    &--navy-blue {
      .circle {
        background-color: $soft-blue;
      }
    }

    &--clean-white {
      .circle {
        background-color: $light;
        border: 1px solid #dedede;
      }
    }

    &--blue-sky {
      .circle {
        background-color: #5fabe2;
      }
    }

    &--purple {
      .circle {
        background-color: #b54ef4;
      }
    }

    &--pink {
      .circle {
        background-color: #f44e8a;
      }
    }

    &--yellow {
      .circle {
        background-color: #f4cf4e;
      }
    }

    &--dark-green {
      .circle {
        background-color: #44936d;
      }
    }

    &--active {
      background-color: $grey--400;
      color: $light;
      box-shadow: rgba($black--900, 0.17) 0px -23px 25px 0px inset,
        rgba($black--900, 0.15) 0px -36px 30px 0px inset,
        rgba($black--900, 0.1) 0px -79px 40px 0px inset,
        rgba($black--900, 0.06) 0px 2px 1px, rgba($black--900, 0.09) 0px 4px 2px,
        rgba($black--900, 0.09) 0px 8px 4px,
        rgba($black--900, 0.09) 0px 16px 8px,
        rgba($black--900, 0.09) 0px 32px 16px;
    }
  }
}
