html, body {
  scroll-behavior: smooth;
}

body {
  background-color: $light;
  font-family: $main-font;
  color: $black--400;
}

.container {
  max-width: 1352px;
  margin-inline: auto;
  padding-inline: 16px;
}

.svg-settings {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
