html, body {
  scroll-behavior: smooth;
}

body {
  background-color: $light;
  font-family: $main-font;
  color: $black--400;
}

.container {
  max-width: 1352px;
  margin-inline: auto;
  padding-inline: 8px;

  @media (width >= 375px) {
    padding-inline: 16px;
  }
}

.svg-settings {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.glide {
  width: calc(100% + 16px);
  overflow: auto;
  grid-row: 2 / 3;
  margin-inline: -8px;

  @media (width >= 375px) {
    margin-inline: -16px;
    width: calc(100% + 32px);
  }

}

.glide__slide {
  display: flex;
}

.glide__track {
  padding-inline: 8px;

  @media (width >= 375px) {
    padding-inline: 16px;
  }
}

@media (width >= 768px) {
  .glide,
  .glide__track,
  .glide__slides,
  .glide__slide {
    display: contents;
  }
}
