// color_palette
$black--900: #000;
$black--400: #121212;

$grey--900: rgba($black--400, 0.8);
$grey--400: rgba($black--400, 0.6);

$light: #fff;
$soft-red: #F15353;
$soft-blue: #233C6B;

// fonts
$main-font: "Inter", sans-serif;

// time
$animation-duration: 300ms;
