<div class="product-cards">
  {{#each products}}
  <article
    class="product-cards__item"
  >
    <button type="button" class="product-cards__btn circle">
      <svg class="icon icon--24">
        <use href="#heart"></use>
      </svg>
    </button>
    <a href="{{link}}" class="product-cards__link">
      <div class="product-cards__image">
        <img src="{{url}}" alt="product" />
      </div>
      <div class="product-cards__content">
        <h5 class="product-cards__title">{{title}}</h5>
        <p class="product-cards__price">{{price}}</p>
      </div>
    </a>
  </article>
  {{/each}}
</div>
